APP_URL=http://localhost:3333
NODE_ENV=development

#AUTH

APP_SECRET=bootcampgympointnode

#DATABASE

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=gobarber

#MONGO

MONGO_URL=mongodb://localhost:27017/gympoint

#REDIS

REDIS_HOST=127.0.0.1
REDIS_POST=6379

#MAIL

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=49e7c7de01ce40
MAIL_PASS=5cbf06f27ea254

#SENTRY

SENTRY_DNS=
