<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida por um dos nossos colaboradores:</p>
<strong>Pergunta: </strong>
<p>{{ question }}</p>
<strong>Resposta: </strong>
<p>{{ answer }}</p>
<small>Data da resposta: </strong> {{ date }}
